*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxg;
}
h1{
    color: crimson;
}
p{ 
    display: flex;
    color: aqua;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}